# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Debugger files
.vscode/
*.swp

# Build and dist
dist/
build/

# Coverage and testing
coverage/

# Temporary files
*.tmp
*.temp
.tmp/
.cache/
